<?php

?>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/search.js" defer></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
        body {
            font-family: 'Inter'; font-size: 16px;
        }
    </style>
</head>

<body>
            <div>
            <form action="\dashboard" method="POST">
            <h1 class="form-title">Welcome back, imieuzytkownika!</h1>
            <div class="buttons">
                <a href="/calendar" class="choice">Go to the calendar!</a>
                <a href="/calendar" class="choice">Search for a recipe!</a>
                <a href="/add_a_recipe" class="choice">Add a recipe!</a>
            </div>
            </div>
            
            </form>
        </div>
</body>
</html>