h1{
  font-size: 45px;
  color: black;
  font-weight: lighter;
  margin-top: 5%;
  text-align: center;
}
.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    background-color: #92FF74;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 360px); /* 3 kolumny po 300px */
    gap: 75px;                               /* większy odstęp między przyciskami */
    justify-content: center;                  /* wyśrodkowanie siatki poziomo */
    margin-top: 100px;                         /* odstęp od góry strony */
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter';
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff5252;
}