h1 { color: blue;}


body {
    margin: 0;
    padding: 0;
}


.container {
    background-color: aquamarine;
}


nav {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav > ul {
    display: flex;
    gap: 1rem;
}

main {
    background-color: cornflowerblue;
}


aside {
    background-color: darkgrey;
}


body {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    height: calc(100vh - 100px);
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter';
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff5252;
}


@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}