h1{
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 8%;
}

.centered{
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#formDiv {
  text-align: center;
  background-color: #92FF74;
  padding: 1%;
  height: 85%; /*różnica względem login.css*/
  width: 25%;
  border-radius: 16px;
  margin-top: 2%;
}

.btnGroup {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10%;
}

.field {
    width: 100%;
    margin-bottom: 1rem; /* odstęp między polami */
}

.field label {
    display: block;
    color: #6B7280;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 7.5px;
    text-align: left;
}

.field input {
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    box-sizing: border-box; /* bardzo ważne, żeby padding nie zwiększał szerokości */
}

.click {
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    box-sizing: border-box; /* bardzo ważne, żeby padding nie zwiększał szerokości */
}

.message{
  color: rgb(213, 5, 40);
  position: absolute;
  left: 50%;
  top: 22%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10%;
}

.linklabel{
  color: #6B7280;
}

a{
  color:#3F3D3D;
  font-weight: bold;
}
